@page "/patient/edit/"

@using DataLibrary
@using DataLibrary.Models

@inject IPatientDAL _db
@inject IToastService toastService
@inject IModalService Modal

<EditForm Model=@editPatient OnValidSubmit="@EditPatient">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="edit-patient-modal">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <InputText id="firstName" class="form-control" @bind-Value="editPatient.FirstName" />
            </div>

            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <InputText id="lastName" class="form-control" @bind-Value="editPatient.LastName" />
            </div>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <div class="col-md-5">
                <input type="radio" name="gender" value="M" @onchange="RadioSelection" checked=@(GenderValue.Equals("M",StringComparison.OrdinalIgnoreCase)) />
                <label class="radio-inline">Male</label>

                <input type="radio" name="gender" value="F" @onchange="RadioSelection" checked=@(GenderValue.Equals("F",StringComparison.OrdinalIgnoreCase)) />
                <label class="radio-inline">Female</label>

                <input type="radio" name="gender" value="U" @onchange="RadioSelection" checked=@(GenderValue.Equals("U",StringComparison.OrdinalIgnoreCase)) />
                <label class="radio-inline">Unknown</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="phone">Phone</label>
                <InputText id="phone" class="form-control" @bind-Value="editPatient.Phone" />
            </div>

            <div class="form-group col-md-4">
                <label for="dob">DOB</label>
                <InputDate id="dob" class="form-control" @bind-Value="editPatient.DOB" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="address">Address</label>
                <InputTextArea id="address" class="form-control" @bind-Value="editPatient.Address" />
            </div>

            <div class="form-group col-md-4">
                <label for="city">City</label>
                <InputText id="city" class="form-control" @bind-Value="editPatient.City" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="notes">Notes</label>
                <InputTextArea id="notes" class="form-control" @bind-Value="editPatient.Notes" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>
</EditForm>

@code {

    [Parameter]
    public PatientModel editPatient { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    string GenderValue;

    void RadioSelection(ChangeEventArgs args)
    {
        GenderValue = args.Value.ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        GenderValue = editPatient.Gender;
        await Task.Delay(1);
    }

    private async Task EditPatient()
    {
        PatientModel p = new PatientModel
        {
            Id = editPatient.Id,
            OPDNumber = editPatient.OPDNumber,
            FirstName = editPatient.FirstName,
            LastName = editPatient.LastName,
            Gender = GenderValue,
            Phone = editPatient.Phone,
            DOB = editPatient.DOB,
            Address = editPatient.Address,
            City = editPatient.City,
            Notes = editPatient.Notes
        };
        await _db.EditPatient(p);

        await BlazoredModal.Close(ModalResult.Ok(true));
        toastService.ShowToast(ToastLevel.Success, $"Successfully Edited : {editPatient.FirstName}");
    }
}
