@page "/consultation/add/{PatientId}"

@using DataLibrary
@using DataLibrary.Models

@inject IConsultationDAL _cdb

@inject IModalService Modal

<EditForm Model=@newConsultation OnValidSubmit="@InsertConsultation" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="add-consultation-modal">
        <div class="form-group row add-consultation-modal">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-lg-4">
                <InputDate id="date" class="form-control" @bind-Value="newConsultation.Date" />
            </div>
        </div>

        <div class="form-group row">
            <label for="notes" class="col-sm-2 col-form-label">Notes</label>
            <div class="col-md-4">
                <InputTextArea id="notes" class="form-control" @bind-Value="newConsultation.Notes" />
            </div>
        </div>

        <div class="form-group row">
            <label for="medicines" class="col-sm-2 col-form-label">Medicines</label>
            <div class="col-md-4">
                <InputTextArea id="medicines" class="form-control" @bind-Value="newConsultation.Medicines" />
            </div>
        </div>

        <div class="form-group row">
            <label for="days" class="col-sm-2 col-form-label">Days</label>
            <div class="col-md-4">
                <InputNumber id="days" class="form-control" @bind-Value="newConsultation.Days" />
            </div>
        </div>

        <div class="form-group row">
            <label for="maramTherapyDone" class="col-sm-2 col-form-label">MaramTherapyDone</label>
            <div class="col-md-4">
                <InputCheckbox id="maramTherapyDone" class="form-control" @bind-Value="newConsultation.MaramTherapyDone" />
            </div>
        </div>

        <div class="form-group row">
            <label for="amountCharged" class="col-sm-2 col-form-label">Amount Charged</label>
            <div class="col-md-4">
                <InputNumber id="amountCharged" class="form-control" @bind-Value="newConsultation.AmountCharged" />
            </div>
        </div>

        <div class="form-group row">
            <label for="amountReceived" class="col-sm-2 col-form-label">Amount Received</label>
            <div class="col-md-4">
                <InputNumber id="amountReceived" class="form-control" @bind-Value="newConsultation.AmountReceived" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary"> Submit </button>
    </div>
</EditForm>

<!--button @onclick="Cancel" class="btn btn-secondary">Cancel</button-->

@code {

    [Parameter]
    public string PatientId { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    DisplayConsultationModel newConsultation = new DisplayConsultationModel();

    private async Task InsertConsultation()
    {
        int id = 1;
        if (Int32.TryParse(PatientId, out id))
        {
            ConsultationModel c = new ConsultationModel
            {
                Date = newConsultation.Date,
                Notes = newConsultation.Notes,
                Medicines = newConsultation.Medicines,
                Days = newConsultation.Days,
                MaramTherapyDone = newConsultation.MaramTherapyDone,
                AmountCharged = newConsultation.AmountCharged,
                AmountReceived = newConsultation.AmountReceived,
                PatientId = id
            };

            await _cdb.AddConsultation(c);
            await BlazoredModal.Close(ModalResult.Ok(true));
        }
    }

    //void Cancel() => BlazoredModal.Cancel();
}
